.form_background {
    padding: 0 0 30px
}

.boxshadow {
    box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -webkit-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -moz-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -o-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -os-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px
}

.contentdetails h6,
.contentdetails address,
.contentdetails h5 {
    display: none
}

.overflow-hidden {
    overflow: hidden
}

.gallery_image {
    max-width: 100%;
    margin-bottom: 30px
}

#gallery_slick {
    width: 100%;
    margin: auto
}

@media (min-width: 1200px) {
    #gallery_slick {
        height: 379px;
        overflow: hidden
    }
}

@media (max-width: 480px) {
    #gallery_slick {
        height: 200px;
        overflow: hidden
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #gallery_slick {
        height: 220px;
        overflow: hidden
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #gallery_slick {
        height: 370px;
        overflow: hidden
    }
}

#gallery_slick .slick-list {
    margin: 0 auto
}

#gallery_slick .slick-slide {
    margin: 5px
}

#gallery_slick .slick-slide:hover,
#gallery_slick .slick-slide:focus {
    outline: none;
    box-shadow: none;
    border: none
}

#gallery_slick .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2
}

@media (max-width: 767px) {
    #gallery_slick .slick-arrow {
        display: none !important
    }
}

#gallery_slick .slick-arrow.slick-prev {
    left: -15px
}

#gallery_slick .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(prev16e9.svg?1636706839474);
    height: 30px;
    width: 30px;
    display: block
}

#gallery_slick .slick-arrow.slick-next {
    right: -15px
}

#gallery_slick .slick-arrow.slick-next:before {
    content: "";
    background-image: url(./public/bizweb.dktcdn.net/100/393/384/themes/844266/assets/next.svg?1636706839474);
    height: 30px;
    width: 30px;
    display: block
}

#gallery_slick .slick-dots {
    text-align: center
}

#gallery_slick .slick-dots li {
    display: inline-block
}

#gallery_slick .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 0;
    font-size: 0
}

#gallery_slick .slick-dots li+li {
    margin-left: 5px
}

#gallery_slick .slick-dots li.slick-active button {
    border-color: #3f7df6;
    background-color: #3f7df6;
    border-radius: 0;
    width: 10px
}

#gallery_slick .slick-arrow {
    top: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    display: block !important
}

#gallery_slick .slick-arrow:before {
    font-family: "Font Awesome\ 5 Free";
    background-image: none !important;
    color: #3f7df6;
    font-weight: 900;
    width: 40px !important;
    height: 40px !important
}

#gallery_slick .slick-arrow.slick-prev {
    background: #fff;
    box-shadow: 0px 0px 26px 0px rgba(22, 0, 172, 0.12);
    right: auto;
    left: 15px;
    border-radius: 5px
}

#gallery_slick .slick-arrow.slick-prev:before {
    content: "\f104";
    font-size: 15px
}

#gallery_slick .slick-arrow.slick-next {
    background: #fff;
    box-shadow: 14px 0px 26px 0px rgba(13, 0, 4, 0.03);
    left: auto;
    right: 15px;
    border-radius: 5px
}

#gallery_slick .slick-arrow.slick-next:before {
    content: "\f105";
    font-size: 15px
}

#gallery_slick .slick-arrow:hover {
    background: #3f7df6
}

#gallery_slick .slick-arrow:hover:before {
    color: #fff
}

.imagelarge {
    position: relative;
    display: block
}

@media (max-width: 600px) {
    .imagelarge {
        height: 181px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center
    }
}

@media (max-width: 600px) {
    .imagelarge img {
        max-width: 100%;
        max-height: 100%
    }
}

.imagelarge:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #596e9f;
    opacity: .5;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.imagelarge .prevload {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -os-transform: translate(-50%)
}

.imagelarge:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.imagelarge:hover .prevload {
    display: block
}

.title-product {
    color: #343e44;
    font-size: 24px;
    line-height: 40px;
    font-family: 'FontMuli';
    margin: 0px 0 15px;
    font-weight: 700;
    padding-right: 150px
}

@media (max-width: 991px) {
    .title-product {
        margin-top: 10px;
        line-height: 32px;
        font-size: 24px
    }
}

@media (max-width: 767PX) {
    .title-product {
        padding: 0
    }
}

.profile_details {
    display: inline;
    float: left;
    padding: 0;
    background: transparent
}

.profile_details li {
    width: auto;
    float: left;
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
    font-family: 'FontMuli';
    font-size: 14px;
    font-weight: 400;
    color: #343e44;
    line-height: 19px;
    background-size: auto;
    background-position-x: left;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 0px
}

@media (max-width: 1199px) {
    .profile_details li {
        width: 100%;
        margin: 0 0 10px
    }

    .profile_details li:last-child {
        margin: 0
    }
}

.profile_details li:first-child {
    margin-left: 0
}

.profile_details li.x {
    background-position-x: 4px;
    padding-left: 25px
}

.profile_details li span {
    font-weight: 700
}

.group_tagprice {
    padding-bottom: 5px;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 15px
}

@media (max-width: 1199px) {
    .group_tagprice {
        padding-bottom: 15px
    }
}

.group_tagprice .price-box {
    display: inline;
    float: right;
    line-height: 16px
}

@media (max-width: 1199px) {
    .group_tagprice .price-box {
        line-height: 30px
    }
}

@media (max-width: 767px) {
    .group_tagprice .price-box {
        float: left
    }
}

.group_tagprice .price-box .special-price {
    font-family: 'FontMuli';
    font-weight: 700;
    color: #3f7df6;
    font-size: 24px
}

.boxinfo .lb {
    position: absolute;
    font-size: 13px;
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
    z-index: 6;
    color: #fff;
    right: 0;
    top: 10px;
    display: inline-block
}

@media (max-width: 767px) {
    .boxinfo .lb {
        position: unset;
        margin-bottom: 15px
    }
}

.boxinfo .lb.ban,
.boxinfo .lb.thue {
    background: #3f7df6;
    left: auto;
    top: 10px
}

.boxinfo .lb.hot {
    background: #ff4a26;
    right: 75px;
    top: 10px;
    text-transform: uppercase
}

.boxinfo .lb.hot.is {
    right: 0
}

.ulgroup {
    float: left;
    padding: 0
}

.ulgroup li {
    display: block;
    width: 100%;
    font-family: 'FontMuli';
    font-weight: 700;
    font-size: 15px;
    color: #343e44;
    padding-left: 15px;
    position: relative
}

.ulgroup li:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #acacac;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 5px
}

.ulgroup li span {
    font-weight: 400;
    display: inline
}

.product-action .btn_base {
    padding: 0;
    height: 60px;
    width: 290px;
    float: left;
    line-height: 60px;
    border: solid 1px #3f7df6;
    background: #3f7df6;
    text-align: center;
    border-radius: 8px;
    margin-right: 10px;
    position: relative;
    z-index: 1
}

.product-action .btn_base:before {
    content: "";
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.04);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.product-action .btn_base:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.product-action .btn_base:last-child {
    margin-right: 0
}

@media (max-width: 1199px) and (min-width: 992px) {
    .product-action .btn_base {
        width: 270px
    }
}

@media (max-width: 767px) {
    .product-action .btn_base {
        width: 100%;
        margin: 0 0 8px
    }
}

.product-action .btn_base span {
    display: inline-block;
    background-color: transparent;
    line-height: 60px;
    font-family: 'FontMuli';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 45px;
    background-size: auto !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    color: #fff
}

.product-action .btn_base.fast span {
    background-position-x: 6px !important
}

.product-action.btn_dis {
    cursor: default
}

.hightlight {
    animation: highlight 1000ms ease-out
}

@keyframes highlight {
    0% {
        background-color: red
    }

    100 {
        background-color: white
    }
}

@media (max-width: 767px) {
    .tabscroll {
        margin-top: 30px
    }
}

.tabscroll .grouptitletab {
    padding: 15px 20px 0 0;
    margin-top: 30px
}

@media (max-width: 767px) {
    .tabscroll .grouptitletab {
        display: none
    }
}

.tabscroll .grouptitletab.fixed {
    height: 55px;
    position: fixed;
    margin-top: 0;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    text-align: left;
    padding-left: calc(100% / 10);
    -webkit-padding-left: calc(100% / 10);
    -moz-padding-left: calc(100% / 10);
    -o-padding-left: calc(100% / 10);
    -os-padding-left: calc(100% / 10);
    box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -webkit-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -moz-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -o-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12);
    -os-box-shadow: 0px 0px 26px 0px rgba(22, 73, 172, 0.12)
}

.tabscroll .grouptitletab li {
    display: inline;
    font-family: 'FontMuli';
    font-size: 16px;
    font-weight: 700;
    color: #343e44;
    padding: 0 20px
}

.tabscroll .grouptitletab li.active a {
    color: #3f7df6
}

.tabscroll .tabcontent h4 {
    font-family: 'FontMuli';
    font-size: 20px;
    font-weight: 700;
    color: #343e44;
    padding: 0 0 15px
}

.tabscroll .tabcontent ul {
    padding-left: 15px
}

.videoframe iframe {
    width: 100%;
    min-height: 600px
}

@media (max-width: 767px) {
    .videoframe iframe {
        min-height: 300px
    }
}

#panorama {
    position: relative;
    max-width: 100%;
    min-height: 400px
}

@media (max-width: 767px) {
    #panorama {
        min-height: 300px
    }
}

#controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 3px
}

.ctrl {
    padding: 8px 5px;
    width: 30px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer
}

.ctrl:hover {
    background: #c8c8c8
}

.section_prd_feature {
    padding: 20px 0 50px
}

.section_prd_feature .product_related_slick {
    padding: 0 5px;
    margin: 0 -15px
}

.section_prd_feature .product_related_slick .slickwrap {
    margin: 0 -15px
}

.section_prd_feature .product_related_slick .item {
    padding: 0 15px;
    margin: 15px 0
}

.formcontact {
    padding: 40px 30px;
    background: #f7f7f7;
    border-radius: 8px
}

@media (max-width: 1199px) and (min-width: 992px) {
    .formcontact {
        padding: 20px 15px
    }
}

.formcontact p {
    font-family: 'FontMuli';
    font-size: 16px;
    color: #343e44;
    font-weight: 700;
    margin-bottom: 10px
}

.formcontact .fones {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #3f7df6;
    font-family: 'FontMuli';
    padding-left: 35px
}

.formcontact .fones:hover {
    color: #3f7df6
}

.formcontact .fones:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0
}

.formcontact h4 {
    font-family: 'FontMuli';
    font-size: 16px;
    color: #343e44;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 20px 0;
    border-top: solid 1px #ebebeb;
    margin-top: 15px
}

.formcontact form {
    margin-bottom: 0;
    padding: 0 15px 8px
}

.formcontact form .form-group .form-control {
    font-family: 'FontMuli';
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    color: #7b7b7b;
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px
}

.formcontact form .content-area {
    font-family: 'FontMuli';
    font-size: 15px;
    color: #7b7b7b;
    border: none;
    background: #fff;
    margin-bottom: 5px
}

.formcontact form .btn-lienhe {
    width: 100%;
    float: left;
    font-family: 'FontMuli';
    font-size: 15px;
    height: 50px;
    background: #3f7df6;
    text-align: center;
    border-radius: 7px;
    border: solid 1px #3f7df6;
    color: #fff
}